.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav-items {
    list-style: none;
    display: flex;
}

.nav-items > li {
    padding: 10px;
}

.nav-logo {
    width: 100px;
}

.footer {
    background-color: grey;
    color: white;
    width: 500px;
}

body{
    width: 500px;
    border: 1px solid rgb(116, 114, 114);
    border-radius: 5px;
   
}

main {
    background-color: black;
    color: white;
}